<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
     <title>Retiro 10%</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Agregar afiliado</h1>
        <form action="/add" method="post" class="card-body">
            <div class="form-group">
                <input type="text" name="rut" placeholder="RUT" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="n_documento" placeholder="N# Documento" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="email" placeholder="Email" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="pass" placeholder="Contraseña" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="nombre" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="telefono.n_telefono" placeholder="telefono" class="form-control">
            </div>
            <h3>Cuenta</h3>
            <div class="form-group">
                <input type="text" name="saldo_cuenta" placeholder="Saldo cuenta" class="form-control">
            </div>
            <h3> AFP </h3>
            <div class="form-group">
                <select  id="nombre_afp" name="nombre_afp" class="custom-select">
                    <option value="ProVida" selected>ProVida</option>
                <option value="PlanVital">PlanVital</option>
                <option value="Uno">Uno</option>
                <option value="Cuprum">Cuprum</option>
                <option value="Capital">Capital</option>
                <option value="Modelo">Modelo</option>
                <option value="Habitat">Habitat</option>
              </div>
            </select>
            </div>
            <div align="center">
                <button type="submit" class="btn btn-success">Agregar</button>
            </div>
        </form>
    <a href="/afiliados" class="btn btn-primary">Volver</a>
</body>
</html>